/*Color Palette
Dunkelgrau: #a9a9a9
Blau: #457b9d
grün: #4C956C
rot: #f87575
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #262322;
  background-color: #f5f5f5;
  font-size: 16px;
  min-height: 100vh;
  /* display: flex;
    flex-direction: column; */
}

.header__user-picture {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.header__user-picture > img {
  border-radius: 50%;
}

.body__content {
  margin: calc(76px + 15px) 15px 15px 15px;
  background-color: #fff;
  border-radius: 8px;
  padding: 50px 25px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3000;
  background-color: #d9d9d9;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

section {
  margin-bottom: 50px;
}

.banner--blue {
  background-color: #457b9d;
}

a {
  color: #457b9d;
}

.link--block {
  margin-bottom: 15px;
  display: block;
}

p {
  margin-bottom: 20px;
}

h1,
h2,
h3,
button,
nav {
  font-family: "Spartan", sans-serif;
  font-weight: bold;
  letter-spacing: -0.5px;
}

ul {
  list-style: none;
}

button,
input[type="submit"] {
  display: block;
}

.buttom--submit {
  margin: 15px auto;
  align-self: center;
}

.chips {
  margin-bottom: 30px;
}

.chip--filter {
  display: inline-block;

  color: #fff;
  height: 32px;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.button--centered {
  margin: 0 auto 15px auto;
}

.modal__content {
  background-color: #fefefe;
  margin: auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  min-height: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content > svg {
  position: absolute;
  top: 10px;
  right: 10px;
}

.questiontree .evaluation {
  margin-bottom: 15px;
}

.questiontree .evaluation__buttons {
  display: flex;
  justify-content: center;
}

.questiontree .evaluation p {
  margin-bottom: 10px;
}

.questiontree .evaluation__buttons > button {
  min-width: 100px;
}

.questiontree .evaluation__buttons > button:first-of-type {
  margin-right: 15px;
}

input[type="text"],
input[type="password"],
select,
textarea {
  /*width: 100%;
    margin-bottom: 15px;*/
}

input[type="text"],
input[type="password"],
select,
textarea,
input[type="email"] {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #eee;
}

/* .label--checkbox {
  padding-top: 3px;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

.label--checkbox > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* On mouse-over, add a grey background color */
.label--checkbox:hover input ~ .checkmark {
  background-color: #d9d9d9;
}

/* When the checkbox is checked, add a blue background */
.label--checkbox input:checked ~ .checkmark {
  background-color: #457b9d;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "done";
  color: #fff;
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label--checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.label--checkbox .checkmark:after {
  /* left: 9px;
    top: 5px;
    width: 5px;
    height: 10px; */
  /* border: solid white;
    border-width: 0 3px 3px 0; */
  /* -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); */
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: 1px solid #457b9d;
}

input[type="checkbox"].chip--filter__input {
  appearance: none;
  display: none;
}

#header__registration,
#header__log-out {
  max-width: 80%;
  margin: 15px auto;
  border-bottom: none;
}

input[type="checkbox"].chip--filter__input + label {
  padding: 6px 12px;
  border-radius: 100px;
  background-color: #d9d9d9;
  margin-right: 5px;
  cursor: pointer;
}

input[type="checkbox"].chip--filter__input:checked + label {
  background-color: #457b9d;
}

input[type="checkbox"].chip--filter__input:checked + label::after {
  content: "done";
  vertical-align: -2px;
  margin-left: 5px;
  font-size: 16px;
}

input[type="text"].input--error,
input[type="email"].input--error,
input[type="password"].input--error,
textarea.input--error {
  border: 2px solid #f87575;
}

.form__error {
  list-style: none;
  font-size: 14px;
  padding-left: 15px;
  color: #f87575;
}

.div--textarea {
  height: 136px;
  position: relative;
  margin-bottom: 15px;
}

.label--input {
  /* opacity: 0; */
  font-size: 14px;
  z-index: 1;
  position: relative;
  left: 10px;
  background-color: #fff;
  padding: 0 4px;
  top: 8px;
  transition: opacity 100ms ease-in-out;
}

.registration__paragraph {
  margin-top: 15px;
}

.registration__password-requirements > * {
  margin-bottom: 0;
  font-size: 14px;
  position: relative;
  left: 15px;
}

h2,
h3,
img,
button {
  margin-bottom: 15px;
}

h1 {
  margin-bottom: 30px;
  text-align: center;
}

hr {
  background-color: #d9d9d9;
  border: none;
  height: 1px;
  width: 100%;
  margin: 15px 0 10px 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1em;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Button*/

button,
input[type="submit"],
.button {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  transition: box-shadow 300ms ease;
  color: white;
  text-align: center;
  cursor: pointer;
}

a.button {
  text-decoration: none;
  display: block;
}

button:hover,
.button:hover {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button--yellow {
  background-color: #e8fa70;
  color: #262322;
}

.button--white {
  background-color: white;
  color: #457b9d;
}

.button--grey {
  background-color: #d9d9d9;
}

.button--red {
  background-color: #f87575;
}

.button--blue {
  background-color: #457b9d;
  color: #fff;
}

.button--blue:hover {
  background-color: #457b9d; /*muss noch geändert werden*/
  color: #ffffff;
}

.button--small {
  padding: 20px;
}

#signupbutton {
  padding: 15px;
  margin: 0;
}

#signupbuttonmobile {
  margin: 12px 16px;
}

.buttonyellow {
  font-size: 0.5rem;
}

.questiontree-middle-answerbutton {
  display: flex;
  justify-content: space-between;
  background-color: #e8fa70;
  width: 90%;
  color: #262322;
  margin: 2% auto;
  padding: 3% 4%;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  transition: box-shadow 300ms ease;
  text-align: center;
}

.header__nav__burger-menu {
  color: #262322;
}

.header__logo {
  max-width: 90vw;
  cursor: pointer;
}

.header__logo img {
  object-fit: contain;
}

nav,
nav a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.header--left {
  display: flex;
  align-items: center;
}

.header--right {
  padding-right: 24px;
  display: flex;
  align-items: center;
}

.header__button--question-tree {
  margin-bottom: 0;
}

.header__logo {
  margin: 0;
  height: 34px;
}

.header__logo > img {
  object-fit: contain;
}

.header-nav {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  color: #262322;
}

.header-nav-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding-right: 15px;
  font-size: 18px;
  color: black;
  padding: 14px 16px;
}

#header-nav-mobile-icon {
  /*display: none;*/
}

.header__nav__burger-menu {
  padding: 24px;
  display: flex;
  cursor: pointer;
}
.header__nav__burger-menu > svg {
  /* content: "menu"; */
  height: 1.5em;
  width: 1.5em;
}

#header-nav-mobile-dropdown-content {
  display: flex;
  align-items: center;
}

.header-nav-accordion {
  color: #262322;
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 0;
}

#header-nav-accordion-up {
  display: none;
}

.header-nav-panel {
  display: none;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #eeeeee;
}

.header-nav-panel a {
  color: black;
  text-decoration: none;
  padding: 12px 16px;
  /* width: 100%; */
}

#header-nav-accordion-up,
#header-nav-accordion-down {
  padding-right: 1%;
}

a.button.header-nav-link,
.header-nav-link {
  display: none;
}
#header-nav-mobile-icon {
  display: block;
}

.header-nav-panel {
  position: static;
  /* background-color: #f9f9f9; */
}

.header-nav.responsive {
  overflow: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;
  display: block;
  position: fixed;
  top: 76px;
  left: 0;
  /* bottom: 0; */
  width: 100vw;
  bottom: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 6px 0px rgb(0 0 0 / 20%);
  z-index: 1;
}

#header-nav-mobile-dropdown-content {
}

.header-nav.responsive .header-nav-link {
  float: none;
  color: black;
  padding: 20px 30px;
  text-decoration: none;
  border-bottom: 1px solid #d9d9d9;
  display: block;
}

/*@media screen and (min-width: 1023px) {*/
/*  .header-nav-panel {*/
/*  z-index: 1;*/
/*  position: absolute;*/
/*  }*/
/*}*/

.form__login {
  display: block;
}

.profil__top {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.profil__picture {
  width: 30vw;
  height: 30vw;
  max-width: 150px;
  max-height: 150px;
  margin-right: 15px;
}

.profil__picture img {
  border-radius: 50%;
}

.profile__field {
  width: 100%;
  display: grid;
  padding: 15px 0;
  grid-template-columns: 50px 15px auto;
  height: auto;
}

.profile__field__edit {
  margin-right: 15px;
}

.profile__divider--list {
  width: calc(100% - 65px);
  background-color: #d9d9d9;
  height: 1px;
  float: right;
}

.profile__field:hover {
  background-color: #eee;
}

.profile__field.edit:hover {
  background-color: #fff;
}

.profile__field::after {
  /* content: "chevron_right"; */
}

.profile__field__label,
.profile__field__edit {
  grid-row: 1;
  grid-column: 3;
  margin-bottom: 0;
}

.profile__field__paragraph,
.profile__field__progress {
  grid-row: 2;
  grid-column: 3;
  margin-bottom: 0;
}

.profile__field__edit {
  /* display: none; */
}

.profile__field__input {
  position: static; /*kann sein, dass es nochmal geändert werden muss wegen den Label?*/
}

.profile__field::before {
  grid-column: 1;
  grid-row: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #457b9d;
  color: #fff;
  border-radius: 100%;
  height: 50px;
}

.profile__field--problems-solved::before {
  content: "question_mark";
}

.profile__field--articles-read::before {
  content: "article";
}

.profile__field--longest-streak::before {
  content: "trending_up";
}

.profile__field--level::before {
  content: "grade";
}

.profile__field--name::before {
  content: "account_circle";
}

.profile__field--email::before {
  content: "email";
}

.profile__field--password::before {
  content: "vpn_key";
}

.profile__field--subscription::before {
  content: "shopping_cart";
}

.profile__field--payment::before {
  content: "credit_card";
}

.profile__field--newsletter::before {
  content: "send";
}

.profile__field--retargeting::before {
  content: "ads_click";
}

.modal__edit-profil {
  display: none;
}

.section,
.banner,
.quote {
  padding: 30px 30px;
}

#section2 {
  background-color: #caebf2;
}

.section.home__section--1 {
  position: relative;
  margin-top: -20%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__title {
}

.div--input {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  height: 63px;
  position: relative;
  top: -8px;
}

.subscriptions__plans > .div--radio {
  width: 50%;
  color: #262322;
  text-align: center;
  padding: 15px 0;
}

/* .subscriptions__plans> input[type="checkbox"] {
    opacity: 0;
    width: 100%;
    height:100%;
    margin-right: 0;
    
} */

/* .subscriptions__plans>li label {
    
} */

/* .subscriptions__plans>li {
   width: 50%;
} */

.subscriptions__plans label {
  /* width: 100%; */
  /* height: 100%; */
  border-radius: 0;
  color: #262322;
  /* background-color: #fff; */
}

.subscriptions__plans p {
  margin: 0;
}

.subscriptions__checkmark {
}

.subscriptions__plans input:checked ~ .subscriptions__checkmark {
  border-bottom: 4px solid #457b9d;
  width: 100%;
  height: calc(100% - 4px);
}

.subscriptions__plans input {
  display: none;
}

.section.subscriptions__plan {
  margin: 0;
}

.subscriptions__plans input:checked ~ p {
  color: #457b9d;
  font-weight: 700;
}

.subscriptions__plans input {
  opacity: 0;
  height: 0;
  width: 0;
}

.subscriptions__plans {
  background: #eee;
  display: flex;
  /* margin-bottom: 15px; */
  border: 0;
}

.subscriptions__plans--div {
  margin-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
}

.subscriptions__plans > .div--radio:hover {
  background-color: #d9d9d9;
}

.hidden {
  display: none;
}

.answer-button__info {
  box-shadow: 11px 11px 48px -6px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: 11px 11px 48px -6px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 11px 11px 48px -6px rgba(0, 0, 0, 0.76);
  position: absolute;
  right: 0;
  top: -12px;
  background-color: #fff;
  min-height: 30px;
  padding: 10px;
}

.questiontree__div--answer-button {
  display: flex;
  align-items: center;
  position: relative;
}

.home__image {
  height: 400px;
}

.home__content {
  margin-top: 76px;
}

.section,
.quote {
  border-radius: 8px;
  margin: 25px auto;
  width: 90%;
  background-color: white;
  max-width: 1080px;
}

*::before,
*::after {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.benefit > svg {
  margin-right: 15px;
}

.benefit {
  display: flex;
}

.quote::before {
  content: "format_quote";
  font-size: 100px;
  position: relative;
  margin-top: -70px;
  left: -20px;
}

#registration__page--2,
#registration__page--3 {
  display: none;
}

.icon {
  height: 25px;
  width: 25px;
  margin: 0 5px;
}

/*Footer*/

footer i,
footer a {
  color: #457b9d;
}

footer i:hover,
footer a:hover {
  color: #006ba6;
}

footer {
  background-color: #d9d9d9;
  padding: 25px;
  display: flex;
  margin-top: auto;
  min-height: 76px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow:
    0 -4px 8px 0 rgba(0, 0, 0, 0.2),
    0 -6px 20px 0 rgba(0, 0, 0, 0.19);
}

#footer-legal-list li {
  margin-bottom: 5px;
}

footer > div {
  margin-bottom: 30px;
}

footer > div:last-child {
  margin-bottom: 0;
}

#footer-legal-list {
  list-style-type: none;
}

#footer-socialmedia {
  display: flex;
}

.questiontree {
  border-radius: 8px;
  margin: 0 auto;
  width: 80%;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 0 auto;
  max-width: 1080px;
  text-align: center;
  /* min-height: 600px; */
  padding: auto 70px;
}

#questiontree-start-image {
  width: 80%;
  max-width: 270px;
  height: auto;
}

#questiontree-loading-section {
  /* display: none; */
}

#questiontree-middle {
  /* display: none; */
  flex-direction: column;
  align-items: center;
}

#questiontree-middle-loader {
  position: absolute;
  top: 10%;
  left: 43%;
  z-index: 1;
  border: 16px solid #d9d9d9; /* Light grey */
  border-top: 16px solid #457b9d; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

#questiontree-middle-smallamountanswer {
  /* display: none; */
  flex-direction: column;
  align-items: center;
}

#questiontree-middle-bigamountanswer {
  /* display: none; */
  flex-direction: column;
  align-items: center;
}

#questiontree-middle-searchbar {
  width: 100%;
  padding: 10px 0;
  font-size: 0.6rem;
  border: 0px;
  border-radius: 8px;
}

#questiontree-middle-searchbar:focus {
  border: 0px;
  box-shadow: none;
  outline: none;
}

#questiontree-middle-searchbar-container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #457b9d;
  box-shadow:
    0 4px 8px 0 rgba(69, 123, 157, 0.2),
    0 6px 20px 0 rgba(69, 123, 157, 0.19);
}

#questiontree-middle-searchbar-icon {
  margin-right: 2%;
  margin-left: 2%;
  color: #457b9d;
}

#questiontree-middle-searchlist {
  list-style-type: none;
  width: 100%;
  margin-bottom: 30px;
  /* margin: 30px 70px; */
  padding: 0;
  border-radius: 8px;
  border: none;
}

#questiontree-middle-searchlist li {
  border: 1px solid #ddd;
  margin-top: -1px;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  /* display: none; */
}

#questiontree-middle-searchlist li:hover:not(.header) {
  background-color: #eee;
}

#questiontree-end {
  /* display: none; */
}

#result {
  /* min-width: 700px; */
  font-size: 16px;
  line-height: 130%;
  background-color: white;
  color: black;
  border-radius: 8px;
  border-color: #e8fa70;
  /* display: flex;
    flex-direction: column;
    align-items: center; */
  text-align: left;
  margin-bottom: 50px;
}

@media screen and (min-width: 1023px) {
  #mobilemenu {
    display: none;
  }
  #mobilepanel {
    display: none;
  }
}

.maindivblock {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  padding: 30px 20px 30px 20px;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  min-height: 600px;
}

/*Desktop styles*/

.maindivblock {
  padding: 150px 70px 50px 70px;
  max-width: 1080px;
}

.maindiv {
  padding: 150px 70px 50px 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 900px;
}

.flexdiv {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.yellowbackground {
  background-color: #e8fa70;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.blockdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-height: 600px;
  padding: auto 70px;
}

.whitediv {
  margin: 40px;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
}

.marginleft {
  margin-left: 40px;
}

/* a:link {
    color: #457b9d;
} */

/* a:visited, .dropdown a:visited {
    color: #006BA6;
} */

.darkwriting {
  color: #262322;
}

#whitewriting {
  color: white;
}

.cursiv {
  font-style: italic;
}

mark {
  background-color: #d9d9d9;
}

/*Images*/

.headerimage {
  max-width: 1080px;
}

.content {
  margin-top: 15px;
  width: 1024px;
  background-color: white;
  position: relative;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

#logoheader {
  /* width: 50%; */
}

.navdesktop {
  display: flex;
  align-items: center;
  color: #262322;
}

.navlink {
  text-decoration: none;
  padding-right: 15px;
  font-size: 1.2em;
  color: black;
}

#signupbutton {
  padding: 15px;
  /* margin-right: 15px; */
  font-size: 16px;
  margin: 0;
  font-size: 1.2em;
}

#signupbuttonmobile {
  margin: 12px 16px;
  font-size: 16px;
}

/*dropdown*/

.dropdown a {
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*Searchbar*/

#searchbar {
  display: flex;
  align-items: center;
}

.searchbar {
  max-width: 500px;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Blog Page (Main) */

/*Search Field*/

.search {
  position: relative;
  height: 48px;
  margin-bottom: 30px;
}
input[type="text"].search__input {
  height: 100%;
  padding-left: 40px;
}

.icon--search {
  position: absolute;
  left: 12px;
  top: 12px;
  z-index: 1;
  height: 23px;
  width: 23px;
  display: flex;

  /* padding: 2px; */
}

.search__x {
  position: absolute;
  right: 12px;
  top: 12px;
}

.search__x::after {
  content: "close";
}

.flex-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-end p {
  text-align: right;
}

/*End Search Field*/

.row {
  display: flex;
  justify-content: left;
}

.pricingrow {
  align-items: center;
}

.middlecolumn {
  padding: 0px 20px;
}

.card {
  background-color: white;
  margin-bottom: 30px;
  color: #262322;
  transition: box-shadow 300ms ease;
  min-width: 200px;
}

.pricing {
  min-height: 750px;
  box-shadow:
    0 6px 10px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

#pricingpage {
  background: linear-gradient(to bottom, #457b9d, #d9d9d9);
}

.roundtop {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#propricing {
  min-height: 850px;
  border: 5px solid;
  border-color: #e8fa70;
}

.card:hover,
.bigrow1:hover {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardimage {
  height: 200px;
}

.cardtext {
  text-align: center;
  /* margin-bottom: 0; */
}

.card__div--text {
  padding: 20px;
}

.pricingtext {
  padding: 10px;
  text-align: center;
}

.cardlink {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.bigrow1 {
  display: flex;
  justify-content: flex-start;
  background-color: white;
  align-items: center;
  align-content: stretch;
  margin-bottom: 30px;
  color: #262322;
  transition: box-shadow 200ms ease;
}

.bigrow2 {
  padding: 0px 50px;
  max-width: 400px;
}

#bigrowimage {
  max-width: 50%;
  height: auto;
  padding: 0px;
  margin: 0px;
}

#blogarticle {
  background-color: white;
  border-radius: 8px;
  margin-top: 150px;
  margin-bottom: 150px;
  padding-top: 50px;
}

/* Imagegrid */
.mediumimage {
  object-fit: cover;
  width: 230px;
  height: 230px;
}

.row {
  display: block;
}
.middlecolumn,
.leftcolumn,
.rightcolumn {
  margin: 20px;
}
.bigrow1 {
  display: block;
  margin: 20px;
}
.logoheader {
  visibility: hidden;
}

/* Question Tree*/

#questiontree {
  background-color: rgba(0, 0, 0, 0.19);
}

.buttonqt {
  background-color: #e8fa70;
  min-width: 500px;
  color: #262322;
  margin: 30px 70px;
  padding: 20px 40px;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  transition: box-shadow 300ms ease;
}

#myInput {
  width: 60%;
  margin: 30px 70px;
  padding: 10px 40px;
  border-radius: 8px;
  border: none;
  /* background-image: url('../graphics/searchicon.png');  */
  background-position: 10px 12px;
  background-repeat: no-repeat;
  background-size: 3.5%;
}

#myUL {
  list-style-type: none;
  width: 60%;
  margin: 30px 70px;
  padding: 0px 0px;
  border-radius: 8px;
  border: none;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

#resulttitle {
  margin-left: 70px;
}

/* Profil */

#leftprofil {
  max-width: 500px;
}

#rightprofil {
  max-width: 600px;
}

#equipment {
  padding-left: 0px;
}

.icon--small {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.mediumicon {
  height: 60px;
  max-width: 200px;
  border-radius: 8px;
}

.icon--search {
  position: relative;
  z-index: 1;
}

.faq__category {
  margin-bottom: 30px;
}

.faq__category > h2 {
  padding: 15px 0 15px 10px;
  background-color: #457b9d;
  color: #fff;
  margin-bottom: 0;
}

input.accordion {
  display: none;
}

.box {
  position: relative;
  background: white;
  height: 64px;
  transition: all 0.15s ease-in-out;
}
.box::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  box-shadow:
    0 -1px 0 #e5e5e5,
    0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
}

section.box {
  margin-bottom: 0;
}

.box-title {
  font-size: 18px;
  width: 100%;
  height: 64px;
  line-height: 64px;
  padding: 0 20px;
  display: inline-block;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box-content {
  padding: 30px 20px;
  display: none;
}

.box-close {
  position: absolute;
  height: 64px;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

input:checked + .box {
  height: auto;
  margin: 16px 0;
  box-shadow:
    0 0 6px rgba(0, 0, 0, 0.16),
    0 6px 12px rgba(0, 0, 0, 0.32);
}

input:checked + .box .box-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}
input:checked + .box .box-content,
input:checked + .box .box-close {
  display: inline-block;
}

.arrows section .box-title,
section .box-title {
  padding-left: 44px;
}

.accordion {
  margin: auto;
  width: 400px;
}

.arrows section svg,
.box svg {
  position: absolute;
  display: block;
  /* content: '\203a'; */
  font-size: 18pt;
  left: 10px;
  top: 19px;
  transition: transform 0.15s ease-in-out;
  color: rgba(0, 0, 0, 0.54);
}

input:checked + section.box svg {
  transform: rotate(90deg);
}

/* .accordion {
background-color: #fff;
color: #262322;
cursor: pointer;
padding: 18px;
width: 100%;
text-align: left;
border: 1px solid #D9D9D9;
border-radius: 0;
outline: none;
transition: 0.4s;
margin:0px;
font-size: 18px;

} */

/* .accordion.active:after {
    content: "expand_less";
} */

.background--grey {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

/* .active, .accordion:hover {
background-color: #ccc;
} */

.faq__category > .panel {
  padding: 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.panel > p {
  margin-bottom: 0;
}

#sign-up__social-media {
  margin-bottom: 30px;
}

#sign-up__social-media > .icon {
  height: 2em;
  width: 2em;
  margin-right: 15px;
}

/* Placement Test*/

#placementtestresult {
  display: none;
  color: black;
}

#placementtestresult p {
  margin: 0;
}

select.div--input {
  height: 44.5px;
}

.registration--progress-bar {
  display: flex;
  width: 100%;
  margin: 60px 0 30px 0;
}

.registration--progress-bar hr {
  height: 3px;
}

.registration--progress-bar__element {
  width: calc(100% / 3);
  cursor: pointer;
}

.registration--progress-bar__element.active > hr {
  background-color: #457b9d;
  height: 3px;
}

.registration--progress-bar__element.active > p {
  font-weight: bold;
}

.registration--progress-bar p {
  padding: 10px;
  text-align: center;
}

.registration__paypal-buttons {
  display: flex;
  justify-content: center;
}

.registration__h1,
.registration__h2,
.registration__success-message {
  text-align: center;
}

#registrationForm,
.form__login {
  max-width: 600px;
  margin: 0 auto;
}

.registration__button {
  margin: 30px auto 30px auto;
}

.header-nav.responsive .header__menu-buttons {
  margin: 15px 30px;
}

.header-nav.responsive .header__menu-buttons > .header-nav-link {
  border-bottom: none;
  padding: 15px 30px;
}

.profile__field--subscription .profile__field__edit,
.profile__field--payment .profile__field__edit {
  grid-row: 3;
}

.recaptcha {
  margin-bottom: 15px;
}

.profile__field--newsletter .div--checkbox,
.profile__field--retargeting .div--checkbox {
  grid-row: 2;
  grid-column: 3;
}

.profile__field--newsletter .button,
.profile__field--retargeting .button {
  grid-column: 3;
}

.banner--cookie {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.banner--cookie .button,
.banner--cookie p {
  margin-bottom: 0;
  min-width: 50px;
}

.banner--cookie.hidden {
  display: none;
}

.banner--cookie svg,
.profile__field {
  cursor: pointer;
}
